# Python bytecode
*.pyc
**/__pycache__

# Pytest
.cache

# IntelliJ
.idea

# Other..?
*.iml
batch.log
.jenkins/backups/
reports/
.DS_Store

# PyDev (Eclipse)
.project
.pydevproject
.settings

# venv
.venv
venv
.env
/out/
/data/

.vscode

# pyenv
.python-version
