# Python bytecode
*.pyc
**/__pycache__

# Development
.cache
htmlcov/
.coverage
.envrc
docker-compose.override.*

# Other..?
.DS_Store

# venv
.venv
venv
.env

# pyenv
.python-version

# IDE
.idea/
.vscode/
.project
.pydevproject
.settings

data/

# data loading from refdb
bag_refdb.sql
