database:
  image: admin.datapunt.amsterdam.nl:5000/atlas/postgres
  ports:
    - "5434:5432"
  environment:
    POSTGRES_PASSWORD: insecure
    POSTGRES_USER: atlas
    POSTGRES_DB: atlas

elasticsearch:
  image: admin.datapunt.amsterdam.nl:5000/atlas/elasticsearch:latest
  command: elasticsearch -Des.network.host=0.0.0.0
  ports:
    - "9200:9200"
    - "9300:9300"
  #volumes:
  #  - ./elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml

atlas:
  build: .
  links:
    - database:database
    - elasticsearch:elasticsearch
  ports:
    - "8080"
  environment:
    DATABASE_NAME: atlas
    DATABASE_PASSWORD: insecure
