Babel==2.9.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
coreapi==2.3.3
coreschema==0.0.4
coverage==6.3.1
cryptography==36.0.1
datapunt-authorization-django==1.3.1
debtcollector==2.4.0
defusedxml==0.7.1
Django==3.2.12
django-debug-toolbar==3.2.4
django-elasticsearch-debug-toolbar==2.0.0
django-extensions==3.1.5
django-filter==2.4.0
django-rest-swagger==2.2.0
django-shotgun==0.2
djangorestframework==3.13.1
djangorestframework-csv==2.1.1
djangorestframework-gis==0.18
djangorestframework-xml==2.0.0
drf-extensions==0.7.1
drf-hal-json==0.10.0
drf-nested-fields==0.9.5
elasticsearch==6.8.2
elasticsearch-dsl==6.4.0
factory-boy==2.11.1
Faker==12.3.3
graypy==0.3.1
httplib2==0.20.4
idna==3.3
iso8601==1.0.2
isort==5.10.1
itypes==1.1.0
Jinja2==2.11.3
keystoneauth1==4.4.0
Markdown==3.3.6
MarkupSafe==2.0.1
msgpack==1.0.3
netaddr==0.8.0
netifaces==0.11.0
openapi-codec==1.3.2
os-service-types==1.7.0
pbr==5.8.1
positional==1.2.1
psycopg2==2.8.6
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
PyJWT==2.3.0
pyparsing==3.0.7
pyslack-real==0.6.0
python-dateutil==2.8.2
python-keystoneclient==4.4.0
python-swiftclient==3.13.0
pytz==2021.3
PyYAML==5.4
requests==2.27.1
rfc3986==1.2.0
sentry-sdk==0.6.6
simplejson==3.16.0
six==1.16.0
sphinx-me==0.3
sqlparse==0.4.2
text-unidecode==1.3
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.26.8
