Django==1.8.4
Markdown==2.6.2
coverage==4.0
django-cors-headers==1.1.0
django-jenkins==0.17.0
django-shotgun==0.2
djangorestframework==3.2.3
djangorestframework-gis==0.9.4
elasticsearch==1.6.0
elasticsearch-dsl==0.0.8
factory-boy==2.5.2
fake-factory==0.5.3
psycopg2==2.6.1
pyslack-real==0.5.3
python-dateutil==2.4.2
requests==2.7.0
six==1.9.0
sphinx-me==0.3
urllib3==1.12
