database:
  image: amsterdam/postgres11
  environment:
    POSTGRES_PASSWORD: insecure
    POSTGRES_USER: bag

elasticsearch:
  image: amsterdam/elasticsearch6
  command: elasticsearch -Ehttp.host=0.0.0.0 -Etransport.host=127.0.0.1

tests:
  build: ..
  links:
    - database:database
    - elasticsearch:elasticsearch
  environment:
    DATABASE_NAME: bag
    DATABASE_USER: bag
    DATABASE_PASSWORD: insecure
    BAG_OBJECTSTORE_PASSWORD:
    METADATA_URL: ""
  command: bash -c "/app/docker-wait.sh && python manage.py test --noinput"
