{% extends "batch/base.html" %}

{% block container %}
    <h1>Jobs</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Execution</th>
            <th>Started</th>
            <th>Finished</th>
            <th>Status</th>
            <th class="numeric">Duration</th>
        </tr>
        </thead>

        <tbody>
        {% for obj in object_list %}
            <tr class="{% if obj.status == 2 %}danger{% elif obj.status == 0 %}info{% endif %}">
                <td><a href="{% url 'job-detail' obj.id %}">{{ obj.name }}</a></td>
                <td><a href="{% url 'job-detail' obj.id %}">{{ obj.id }}</a></td>
                <td>{{ obj.date_started }}</td>
                <td>{{ obj.date_finished }}</td>
                <td>{{ obj.get_status_display }}</td>
                <td class="numeric">{{ obj.duration }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}