{% extends "rest_framework/base.html" %}

{% load static %}

{% block title %}Datapunt: Atlas API{% endblock %}

{% block branding %}
    <a class='navbar-brand' rel="nofollow" href='/'>
        Datapunt APIs
    </a>
{% endblock %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="{% static "rest_framework/css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "datapunt_api/datapunt.css" %}" type="text/css">
{% endblock %}

{% block description %}
    <div style="max-width: 50em; text-align: justify">
    <div style="display: block;background: yellow;padding: 15px;width: -webkit-fill-available;border: solid orange 5px;">Waarschuwing: Dit is een verouderde API. Deze API wordt Oktober 2025 uitgeschakeld. Maak gebruik van de nieuwe API's op <a href="https://api.data.amsterdam.nl/v1">api.data.amsterdam.nl/v1</a></div>
    {{ description }}
    </div>
{% endblock %}
